Flask==3.0.0
python-dotenv>=1.0.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
bcrypt==4.1.2
opencv-python-headless==4.10.0.84
numpy==1.26.4
ultralytics==8.3.31
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
gunicorn>=21.2.0
